{% extends '::base.html.twig' %}

{% block titre %}Liste des consommables en stock{% endblock %}

{% block body -%}
    <h1>Liste des consommables en stock</h1>
    
    <table class="table table-bordered tableau">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for typeConsommable in typeConsommables %}
            <tr>
                <td><a href="{{ path('stockconsommable_show', { 'id': typeConsommable.id }) }}">{{ typeConsommable.nom }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}





{% block panel %}
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('stockconsommable_new') }}">Ajouter un nouveau consommable dans le stock</a>.</li>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
