{% extends '::base.html.twig' %}

{% block titre %}Liste des types d'analyse disponibles{% endblock %}

{% block body -%}
    <h1>Liste des types d'analyse disponibles</h1>
    
    <table class="table table-bordered tableau">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for typeAnalyse in typeAnalyses %}
            <tr>
                <td><a href="{{ path('typeanalyse_show', { 'id': typeAnalyse.id }) }}">{{ typeAnalyse.nom }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}





{% block panel %}
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('typeanalyse_new') }}">Ajouter un nouveau type d'analyse</a>.</li>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
