{% extends '::base.html.twig' %}

{% block titre %}Kemistra - Accueil{% endblock %}

{% block body -%}
    <h1>Kemistra - Accueil</h1>
    
    
    
    <p>Accueil de l'application (page de donnection.</p>
{% endblock %}
