{% extends '::base.html.twig' %}

{% block titre %}Liste des employés{% endblock %}

{% block body -%}
    <h1>Liste des employés</h1>
    
    <table class="table table-bordered tableau">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for employe in employes %}
            <tr>
				<td><a href="{{ path('employe_show', { 'id': employe.id }) }}">{{ employe.nom }} {{ employe.prenom }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}





{% block panel %}
    <li><a href="{{ path('employe_new') }}">Ajouter un nouvel employé</a>.</li>
{% endblock %}
