{% extends '::form_base.html.twig' %}

{% block titre %}Ajout d'un nouvel employé{% endblock %}

{% block body -%}
    <h1>Ajout d'un nouvel employé</h1>
   
    <form action="{{ path('employe_create') }}" method="post" {{ form_enctype(formulaire) }}>
        {{ form_widget(formulaire) }}
        <p>
			<button class="btn" type="submit">Enregistrer</button>
		</p>
    </form>
{% endblock %}





{% block panel %}
    <li><a href="{{ path('employe') }}">Annuler l'ajout d'un nouvel employé</a>.</li>
{% endblock %}
