{% extends '::base.html.twig' %}

{% block titre %}Liste du matériel en stock{% endblock %}

{% block body -%}
    <h1>Liste du matériel en stock</h1>
    
    <table class="table table-bordered tableau">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for typeMateriel in typeMateriels %}
            <tr>
                <td><a href="{{ path('stockmateriel_show', { 'id': typeMateriel.id }) }}">{{ typeMateriel.nom }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}





{% block panel %}
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('stockmateriel_new') }}">Ajouter un nouveau matériel dans le stock</a>.</li>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
