{% extends '::base.html.twig' %}

{% block titre %}Liste de toutes les analyses réalisées{% endblock %}

{% block body -%}
    <h1>Liste de toutes les analyses réalisées</h1>
    
    <table class="table table-bordered tableau">
        <thead>
            <tr>
                <th>Type d'analyse</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for analyse in analyses %}
            <tr>
                <td><a href="{{ path('analyse_show', { 'id': analyse.id }) }}">{{ analyse.typeAnalyse.nom }}</a></td>
                <td>{% if analyse.date %}{{ analyse.date|date('d/m/Y') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}





{% block panel %}
    <li><a href="{{ path('analyse_new') }}">Enregistrer les résultats d'une nouvelle analyse</a>.</li>
{% endblock %}
