{% extends '::form_base.html.twig' %}

{% block titre %}Ajout d'un nouveau client{% endblock %}

{% block body -%}
    <h1>Ajout d'un nouveau client</h1>

    <form action="{{ path('client_create') }}" method="post" {{ form_enctype(formulaire) }}>

        {{ form_widget(formulaire) }}
        <p>
            <button class="btn" type="submit">Enregistrer</button>
        </p>
    </form>
{% endblock %}





{% block panel %}
    <li><a href="{{ path('client') }}">Annuler la création du client</a>.</li>
{% endblock %}





{% block js %}
<script type="text/javascript">
    $(document).ready(function()
    {
        $('form').prepend('<label>Type de client :</label> <label><input type="radio" name="t" id="particulier" checked /> Particulier</label> <label><input type="radio" name="t" /> Professionnel</label>');
        
        $('[name="t"]').change(function() {
            if ($('#particulier').is(":checked"))
            {
                $('#kemistra_mainbundle_clienttype_prenom').parent().parent().show();
            }
            else
            {
                $('#kemistra_mainbundle_clienttype_prenom').val('');
                $('#kemistra_mainbundle_clienttype_prenom').parent().parent().hide();
            }
        });
    });
</script>
{% endblock %}
