{% extends '::form_base.html.twig' %}

{% block titre %}Ajout d'un nouveau client{% endblock %}

{% block body -%}
    <h1>Ajout d'un nouveau client</h1>

    <form action="{{ path('client_create') }}" method="post" {{ form_enctype(formulaire) }}>

        {{ form_widget(formulaire) }}
        <p>
            <button type="submit">Enregistrer</button>
        </p>
    </form>

    <ul class="record_actions">
		<li>
			<a href="{{ path('client') }}">
				Annuler l'ajout d'un nouveau client
			</a>
		</li>
	</ul>
{% endblock %}
